.full{
    margin-top: 35px;
    background-color: rgba(41, 40, 40, 0.57);
}
.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    color: white;
    margin-top: 18px;
    text-align: center;
    column-gap: 30px;
}
.box li{
    list-style-type: none;
    cursor: pointer;
}
p{ 
    margin-top: 14px;
    color: rgb(157, 151, 151);
    margin-left: 20px;
}